{% extends "layout.twig" %}

{% block content %}

<div class="page home">
	<div class="wrapper">

		<!-- Header !-->
		<header class="page-header">
			<h1><span>Upload your custom template</span></h1>
		</header>

		<!-- Main Content !-->
		<section class="page-content">

			<img src="{{asset('/images/template-layers.png')}}">

			<!-- Steps !-->
			<div class="steps-wrap">
				<ol class="steps">
					<li>Download the <a href="http://goo.gl/OHjBW1" target="_blank">Baseplate Template</a></li>
					<li>Edit the template files and add to ZIP</li>
					<li><a href="#" onclick="window.parent.window.location = 'http://manage.sitejam.com/templates/zip';return false;">Upload ZIP Template</a> to BaseKit</li> 
				</ol>
			</div>

		</section>

	</div>
</div>

{% endblock %}