{% extends "layout.twig" %}

{% block content %}

<section class="page home">
	<div class="page-content">
		<!-- Header !-->
		<header class="template-header clearfix">
			<div class="wrapper">
				<div class="fl-left">
					<h1>Welcome fellow Developer</h1>
					<h3>Follow the steps below to start building a BaseKit template</h3>
				</div>
				<div class="fl-right">
					<a href="http://developers.basekit.com" class="main-cta" target="_blank">Visit Documentation</a>
				</div>
			</div>
		</header>
		<section class="blocks">
			<div class="wrapper">
				<div class="title">
					<h4>Installation</h4>
				</div>
				<div class="row blue">
					<!-- Installation !-->
					<article>
						<h2 class="step one">Set Up Git</h2>
						<p>You will need to have Git installed on your machine to install our local TDK. Click the link below to find out how.</p>
						<a href="http://developers.basekit.com/setting-up-git" class="btn blue" target="_blank">Git Setup Help</a>
					</article>
					<article>
						<h2 class="step two">Install the TDK</h2>
						<p>Lorem ipsum dolor sit amet, consect adipisicing elit, sed do eiusmod tem por incididunt ut labore et dolore.</p>
						<a href="http://developers.basekit.com/getting-started" class="btn blue" target="_blank">Install the TDK</a>
					</article>
					<article>
						<h2 class="step three">Clone Baseplate</h2>
						<p>Lorem ipsum dolor sit amet, consect adipisicing elit, sed do eiusmod tem por incididunt ut labore et dolore.</p>
						<a href="https://github.com/basekit-templates/basekit-baseplate/tree/develop" class="btn blue" target="_blank">Clone Baseplate</a>
					</article>
				</div>
				<!-- Development !-->
				<div class="title">
					<h4>Development</h4>
				</div>
				<div class="row orange">
					<article>
						<h2 class="step one">Build Template</h2>
						<p>You will need to have Git installed on your machine to install our local TDK. Click the link below to find out how.</p>
						<a href="" class="btn orange" target="_blank">Build Template</a>
					</article>
					<article>
						<h2 class="step two">Upload to BaseKit</h2>
						<p>Lorem ipsum dolor sit amet, consect adipisicing elit, sed do eiusmod tem por incididunt ut labore et dolore.</p>
						<a href="http://developers.basekit.com/upload-template" class="btn orange" target="_blank">Upload it BaseKit</a>
					</article>
					<article>
						<h2 class="step three">Publish Website</h2>
						<p>Lorem ipsum dolor sit amet, consect adipisicing elit, sed do eiusmod tem por incididunt ut labore et dolore.</p>
						<a href="http://basekit.com/tour" class="btn orange" target="_blank">Editor Tour</a>
					</article>
				</div>
				<!-- Resources !-->
				<div class="title">
					<h4>Resources</h4>
				</div>
				<div class="row green">
					<article>
						<h2>Documentation</h2>
						<p>You will need to have Git installed on your machine to install our local TDK. Click the link below to find out how.</p>
						<a href="http://developers.basekit.com/" class="btn green" target="_blank">View the Docs</a>
					</article>
					<article>
						<h2>Knowledge</h2>
						<p>Lorem ipsum dolor sit amet, consect adipisicing elit, sed do eiusmod tem por incididunt ut labore et dolore.</p>
						<a href="http://knowledge.basekit.com/" class="btn green" target="_blank">Visit the Forum</a>
					</article>
					<article class="trans">
						<h2>Workshops</h2>
						<p>Lorem ipsum dolor sit amet, consect adipisicing elit, sed do eiusmod tem por incididunt ut labore et dolore.</p>
						<a class="btn grey" target="_blank">View Workshops</a>
					</article>
				</div>
			</div>
		</section>
	</div>
</section>

{% endblock %}