<!doctype html>
<html lang="{{ page.seoLang }}">

	<head>
	
		{% include "includes/head.twig" %}

		{% include basekit.headScript %}

	</head>

	<body class="{{ page.backgroundClass }} {{ site.colorSwatch }}">
			
		{% block content %}
		{% endblock %}

		{% include basekit.bodyScript %}

		<script type="text/javascript">
			!function() {
				function supportsSVG() {
					return !!document.createElementNS && !! document.createElementNS('http://www.w3.org/2000/svg', 'svg').createSVGRect
				}
				if (supportsSVG()) document.documentElement.className += ' svg'
			}()
		</script>

	</body>
</html>