<header class="theme-header  clearfix">		

	<!-- Theme Logo -->
	<div class="logo-container">
		<a href="/"><img src="{{asset('images/logo.png')}}" class="logo-image"></a>
		<h3 class="logo-headline">/ Developer Portal</h3>
	</div>

	<!-- Account Buttons -->
	<div class="account-buttons">
		<a href="#dev-overlay" class="button  button--green">Sign Up</a>
		<a href="http://www.basekit.com/landing/login" class="button  button--orange">Login</a>
	</div>

</header>