<div class="sidebar-pullout">

	<div class="menu-toggle-container">

		<!-- Menu Toggle -->
		<div id="menu-toggle" class="menu-toggle">

			<div id="menu-icon" class="menu-icon">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>

		</div>

	</div>

	<!-- Content Overlay -->
	<div id="menu-overlay" class="menu-overlay"></div>

	<!-- Sidebar Pullout Menu -->
	<div id="sidebar" class="sidebar">

		<!-- Help and Support -->
		<ul class="sidebar-menu  sidebar-menu--blue">
			<h4 class="notch  notch--blue">Help &amp; Support</h4>
			<li><a href="http://docs.basekit.com" target="_blank">Documentation</a></li>
			<li><a href="http://knowledge.basekit.com" target="_blank">Knowledge Forum</a></li>
		</ul>

		<!-- Developers -->
		<ul class="sidebar-menu  sidebar-menu--green">
			<h4 class="notch  notch--green">Developers</h4>
			<li><a href="#dev-overlay">Create an Account</a></li>
			<li><a href="http://knowledge.basekit.com" target="_blank">Developer Blog</a></li>
		</ul>

		<!-- About BaseKit -->
		<ul class="sidebar-menu  sidebar-menu--orange">
			<h4 class="notch  notch--orange">About BaseKit</h4>
			<li><a href="http://www.basekit.com/about" target="_blank">About Us</a></li>
			<li><a href="http://www.basekit.com/tour" target="_blank">Editor Tour</a></li>
			<li><a href="http://docs.basekit.com/getting-started/local-development" target="_blank">Theme Viewer Tour</a></li>
		</ul>

		<!-- Copyright -->
		<p class="copyright">Copyright</span> &copy; BaseKit {{ "now"|date("Y") }}.</p>

	</div>

</div>